<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> Donation </a> </header>
  <div class="right menu">
    <a class="item" href="/home"> Donate</a>
    <a class="active item" href="/report">  Report</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>

{{> donationlist }}
